/* General Form Styling */
.event-form {
    box-sizing: border-box;
    padding: 2rem;
    background-color: #fef9c3; /* Light yellow */
    border-radius: 1.25rem; /* 2xl */
    border: 8px solid #93c5fd; /* blue-300 */
    width: 100%;
    max-width: 1205px;
    height: auto;
    margin: auto;
}

/* Header */
.event-form__header {
    font-size: 3rem;
    text-align: center;
    color: #3b82f6; /* blue-400 */
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (max-width: 640px) {
    .event-form__header {
        font-size: 2rem;
    }
}

/* Button Styles */
.event-form__button {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #4ade80; /* green-300 */
    color: #f1f5f9;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.event-form__button:hover {
    background-color: #22c55e; /* Darker green */
}

/* Category Button Container */
.event-form__category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    background: white;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .event-form__category-container {
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 0.25rem;
    }
}

/* Category Button */
.category-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #4ade80;
    border-radius: 0.5rem;
    color: #374151;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.category-button:hover {
    background-color: #4ade80;
    color: white;
}

/* Input & TextArea */
.input-field, .text-area-field {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

.text-area-field {
    resize: vertical;
    height: 100px;
}

/* Submit Button */
.add-post-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: #4ade80;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.add-post-button:hover {
    background-color: #22c55e;
}

/* Responsive */
@media (max-width: 768px) {
    .event-form {
        padding: 1.5rem;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .event-form {
        padding: 1rem;
    }
}