
.event-form {
    box-sizing: border-box;
    padding: 2rem;
    background-color: #fff9db; /* Light yellow */
    /*border-radius: 1.25rem; !* Rounded corners *!*/
    /*border: 8px solid #93c5fd; !* Blue-300 *!*/
    width: 100%;
    /*max-width: 1205px;*/
    height: 100vh;
    margin: auto;
}

/* Form Header */
.event-form__header {
    font-family: "Lucida Console", monospace;
    font-size: 3rem;
    text-align: center;
    color: #3b82f6; /* Blue-400 */
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (max-width: 640px) {
    .event-form__header {
        font-size: 2rem;
    }
}


.event-form__category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    background: white;
    border-radius: 1rem;
    width: fit-content;
    margin-left: auto; /* Centers the container */
    margin-right: auto; /* Centers the container */
}

@media (max-width: 768px) {
    .event-form__category-container {
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 0.25rem;
    }
}

/* Category Button */
.category-button {
    font-family: "Lucida Console", monospace;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 6px solid #A4DA98; /* Green-300 */
    border-radius: 0.5rem;
    color: #374151; /* Text color */
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;

}

.category-button:hover {
    background-color: #d1fae5;
    color: white;
}



.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-label {
    font-family: "Lucida Console", monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #1f2937; /* Gray-900 */
    margin-bottom: 0.5rem;
}

.input-field,
.text-area-field {
    font-family: "Lucida Console", monospace;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 20px;
}

.text-area-field {
    resize: vertical;
    height: 100px;
}


.event-form__button,
.add-post-button {
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #A4DA98;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in-out;
    font-family: "Lucida Console", monospace;
}

.event-form__button
.add-post-button:hover {
    background-color: lightgreen;
    border: 2px antiquewhite;
}


@media (max-width: 768px) {
    .event-form {
        padding: 1.5rem;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .event-form {
        padding: 1rem;
    }
}
